.list-container {
    background-color: #ffba00;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: auto;
}

.goal-card {
    background-color: #ff9f43;
    padding: 15px 20px;
    border-radius: 10px;
    height: 70px;
    position: relative;
}

.goal-card:hover {
    transform: scale(1.03);
}

.goal-card h3 {
    font-weight: bold;
    color: #402a2c;
    margin-bottom: 5px;
}

.goal-card p {
    font-size: 0.9rem;
    color: #693d3f;
}

.delete-button {
    background: none;
    border: none;
    color: #ff3b30;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform 0.2s;
}

.delete-button:hover {
    transform: scale(1.2);
}